@font-face {
    font-family: 'NothingFont';
    src: url(/assets/fonts/nothing-font-5x7.ttf);
}

body{
    background-color: 	rgb(10,10,10);
}

.lcd-screen {
    font-family: "NothingFont";
    color: white;
    background-color: black;
    width: 480px;
    height: 320px;
}

.circle{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color:white;
    color: black;
    justify-content: center;
}

.temperature{
    font-size: 70px;
}

.change-mode{
    background-color: white;
    border-radius: 10px;
    border: solid;
}